/* You can add global styles to this file, and also import other style files */
@import url('../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/bootswatch/dist/quartz/bootstrap.css');
@import url('../node_modules/font-awesome/css/font-awesome.min.css');
@import url('../node_modules/alertifyjs/build/css/alertify.min.css');
@import url('../node_modules/alertifyjs/build/css/themes/bootstrap.min.css');
